<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% @games.each do |game| %>
        <%= render 'shared/game-card', game: game %>
      <% end %>
    </div>
    <div class="col-6">
      <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
