.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 50%;
  height: 50%;
}

.btn-post-game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 6px;
  border-radius: 8px;

  p {
    margin: 0;
  }

  .fa-plus-square {
    font-size: 30px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-list {
  align-items: center;
  li {
    margin-right: 24px;
  }
}

.notif-bell {
  font-size: 24px;
  color: $blue;
}
